@charset "UTF-8";
:root {
  --primary-color: #000;
  --secondary-color: #E97937;
  --tetriary-color: #F9F9FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all ease 0.3s;
}

img {
  width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.header {
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1024px) {
  .header {
    min-height: 110px;
  }
}

.hero {
  padding: 40px 20px 80px;
  max-width: 1410px;
  margin: 0 auto;
}
.hero__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--secondary-color);
  margin-bottom: 16px;
  text-align: center;
}
.hero__sub--heading {
  font-weight: 700;
  font-size: 52px;
  line-height: 130%;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .hero__sub--heading {
    margin-bottom: 30px;
    font-size: 40px;
    padding: 0 20px;
  }
}
.hero__article .slick-prev,
.hero__article .slick-next {
  width: 55px;
  height: 55px;
  background: var(--secondary-color);
  top: auto;
  bottom: -27px;
  right: 0;
  left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__article .slick-prev::before,
.hero__article .slick-next::before {
  content: "";
  display: block;
  width: 10px;
  height: 20px;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .hero__article .slick-prev,
  .hero__article .slick-next {
    bottom: auto;
    top: 20%;
    right: 20px;
  }
}
@media screen and (max-width: 579px) {
  .hero__article .slick-prev,
  .hero__article .slick-next {
    top: 18%;
  }
}
.hero__article .slick-prev {
  right: 55px;
  border-right: 1px solid #F59B65;
  z-index: 1;
}
.hero__article .slick-prev::before {
  transform: scaleX(-1);
}
@media screen and (max-width: 1024px) {
  .hero__article .slick-prev {
    left: 20px;
  }
}
.hero__article--item.slick-slide {
  display: flex;
  height: 597px;
}
@media screen and (max-width: 1024px) {
  .hero__article--item.slick-slide {
    height: auto;
    flex-direction: column-reverse;
  }
}
.hero__article--text {
  flex-basis: 788px;
  padding: 125px 117px 25px 105px;
  background-color: var(--tetriary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  line-height: 28px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .hero__article--text {
    padding: 60px 40px 25px;
    flex-basis: auto;
  }
}
@media screen and (max-width: 579px) {
  .hero__article--text {
    padding: 60px 25px 25px;
  }
}
.hero__article--text p {
  margin-bottom: 28px;
}
.hero__article--text::before {
  content: "";
  position: absolute;
  top: 70px;
  width: 30px;
  height: 23px;
  background-image: url(../img/qoutes.svg);
}
@media screen and (max-width: 1024px) {
  .hero__article--text::before {
    top: 20px;
  }
}
.hero__article--author {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  margin-top: 12px;
}
.hero__article--position {
  font-size: 14px;
  line-height: 26px;
}
.hero__article--social {
  display: inline-flex;
  font-weight: 500;
  color: var(--primary-color);
  position: relative;
}
.hero__article--social::after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  transition: all ease 0.3s;
}
.hero__article--social:hover::after {
  background-color: transparent;
}
.hero__article--img {
  flex-basis: 582px;
  overflow: hidden;
}
.hero__article--img img {
  object-fit: cover;
  height: 100%;
}
@media screen and (max-width: 579px) {
  .hero__article--img {
    flex-basis: auto;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .hero__article--img {
    flex-basis: 300px;
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    padding: 20px 20px 80px;
  }
}

.feedback {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 130%;
  margin-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .feedback__title {
    margin-bottom: 15px;
    font-size: 40px;
  }
}
.feedback__text {
  max-width: 594px;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 48px;
}
@media screen and (max-width: 1024px) {
  .feedback__text {
    padding: 0 20px;
  }
}
.feedback__btn {
  border: none;
  background: none;
  min-width: 219px;
  padding: 0 15px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 26px;
  background-color: var(--secondary-color);
}