@use "../utils/mixins" as *;

.feedback {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-weight: 700;
        font-size: 52px;
        line-height: 130%;
        margin-bottom: 20px;

        @include tablet {
            margin-bottom: 15px;
            font-size: 40px;
        }
    }

    &__text {
        max-width: 594px;
        text-align: center;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 48px;

        @include tablet {
            padding: 0 20px;
        }
    }

    &__btn {
        border: none;
        background: none;
        min-width: 219px;
        padding: 0 15px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 26px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 26px;
        background-color: var(--secondary-color);
    }
}