@use "../utils/mixins" as *;

.header {
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        &:hover {
            opacity: 0.8;
        }
    }

    @include tablet {
        min-height: 110px;
    }
}